###  TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type 
#### 가 발생하는 경우가 있습니다. 이것은 pandas 버전과 numpy의 버전이 맞지않은 경우에 발생합니다.
#### 위의 에러가 발생하는 경우에는, 
#### (1) pip 버전 업그레이드 : (anaconda prompt "관리자권한 실행" 후) python.exe -m pip install --upgrade pip
#### (2) pandas 버전 업그레이드 : (Jupyter Notebook "관리자권한 실행" 후) !pip install pandas --upgrade
#### (3) numpy 버전 업그레이드 :  (Jupyter Notebook "관리자권한 실행" 후) !pip install numpy --upgrade
#### 를 하시기 바랍니다.

In [13]:
import warnings
warnings.filterwarnings(action='ignore')

# 데이터 탐색1 (EDA)

# [1] 와인 품질 등급 데이터 특성 파악하기

## 1. 데이터준비
### - 다운로드한 CSV 파일 정리하기

In [14]:
import pandas as pd

In [15]:
red_df = pd.read_csv('/Users/johyeon-u/source/ip/DA_W2/Local/winequality-red.csv', sep = ';', header = 0, engine = 'python')

In [16]:
white_df = pd.read_csv('/Users/johyeon-u/source/ip/DA_W2/Local/winequality-white.csv', sep = ';', header = 0, engine= 'python')

In [17]:
red_df.to_csv('/Users/johyeon-u/source/ip/DA_W2/Local/winequality-red.csv',index = False)

In [18]:
white_df.to_csv('/Users/johyeon-u/source/ip/DA_W2/Local/winequality-white.csv', index = False)

### - 데이터 병합하기

In [19]:
red_df.head()

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1  7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2  7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3  11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....

In [20]:
red_df.insert(0, column = 'type', value = 'red')

In [21]:
red_df.head()

,type,"fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality"
0,red,"7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0...."
1,red,"7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0...."
2,red,"7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0..."
3,red,"11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,..."
4,red,"7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0...."

In [22]:
red_df.shape

(1599, 2)

In [23]:
white_df.head()

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0  7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,...
1  6.3,0.3,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0....
2  8.1,0.28,0.4,6.9,0.05,30.0,97.0,0.9951,3.26,0....
3  7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19...
4  7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19...

In [24]:
white_df.insert(0, column = 'type', value = 'white')

In [25]:
white_df.head()

,type,"fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality"
0,white,"7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,..."
1,white,"6.3,0.3,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0...."
2,white,"8.1,0.28,0.4,6.9,0.05,30.0,97.0,0.9951,3.26,0...."
3,white,"7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19..."
4,white,"7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19..."

In [26]:
white_df.shape

(4898, 2)

In [27]:
wine = pd.concat([red_df, white_df])

In [28]:
wine.shape

(6497, 2)

In [36]:
wine.to_csv('/Users/johyeon-u/source/ip/DA_W2/Local/output/wine.csv', index = False)

OSError: Cannot save file into a non-existent directory: '/Users/johyeon-u/source/ip/DA_W2/Local/output'

## 2. 데이터 탐색

In [31]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 2 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   type                                                                                                                                               6497 non-null   object
 1   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  6497 non-null   object
dtypes: object(2)
memory usage: 152.3+ KB

#### 컬럼이름의 띄어쓰기를 밑줄로 바꾸기

In [32]:
wine.columns = wine.columns.str.replace(' ', '_')

In [33]:
wine.head()

,type,"fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality"
0,red,"7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0...."
1,red,"7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0...."
2,red,"7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0..."
3,red,"11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,..."
4,red,"7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0...."

In [ ]:
wine.describe

In [ ]:
wine.loc[wine['type']=='red'].describe()

In [ ]:
wine.loc[wine['type']=='white'].describe()

In [ ]:
wine['quality'].unique()

In [ ]:
sorted(wine.quality.unique())

In [ ]:
wine.quality.value_counts()

In [ ]:
wine.loc[wine['type']=='red'].sort_values(by='quality').quality.value_counts(sort=False)

In [ ]:
wine.loc[wine['type']=='white'].sort_values(by='quality').quality.value_counts(sort=False)

## 3. 결과 시각화

### - 와인 유형에 따른 품질 등급 히스토그램 그리기

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
red_wine_quality = wine.loc[wine['type'] == 'red', 'quality']

In [ ]:
red_wine_quality.head()

In [ ]:
white_wine_quality = wine.loc[wine['type'] == 'white', 'quality']

In [ ]:
white_wine_quality.head()

In [ ]:
sns.set_style('dark')
sns.distplot(red_wine_quality, kde = False, color = "red", label = 'red wine')
sns.distplot(white_wine_quality, kde = False, label = 'white wine')
plt.title("Quality of Wine Type")
plt.legend()
plt.show()

# 데이터 탐색2 (EDA)

# [2] 타이타닉호 생존율 분석하기

## 1. 데이터 수집

In [35]:
import seaborn as sns

In [ ]:
import pandas as pd

In [ ]:
titanic = sns.load_dataset("titanic")

In [ ]:
titanic.to_csv('../resource/W2/titanic.csv', index = False)

## 2. 데이터 탐색

#### - 데이터 파악하기

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.shape

In [ ]:
titanic.dtypes

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
titanic.describe(include='all')

In [ ]:
titanic.describe(include=[object, 'category', bool])

## 3. 데이터 준비

#### - 결측값 있는지 확인하기

In [ ]:
titanic.isnull().sum()

#### - age 열의 결측값을 중앙값으로 치환하기

In [ ]:
titanic['age']

In [ ]:
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

In [ ]:
titanic['age']

#### - embarked 열의 결측값을 최빈값으로 치환하기

In [ ]:
titanic['embarked'].value_counts()

In [ ]:
titanic['embarked'] = titanic['embarked'].fillna('S')

#### - embark_town 열의 결측값을 최빈값으로 치환하기

In [ ]:
titanic['embark_town'].value_counts()

In [ ]:
titanic['embark_town'] = titanic['embark_town'].fillna('Southampton')

#### - deck 열의 결측값을 최빈값으로 치환하기

In [ ]:
titanic['deck'].value_counts()

In [ ]:
titanic['deck']

In [ ]:
titanic['deck'] = titanic['deck'].fillna('C')

In [ ]:
titanic['deck']

#### - 결측치가 다 채워졌는지 확인하기

In [ ]:
titanic.isnull().sum()

## 4. 데이터 시각화

#### - 데이터의 기본 정보 탐색하기

In [ ]:
titanic.info()

In [ ]:
titanic.survived.value_counts()

#### - 차트를 그려 데이터를 시각적으로 탐색하기

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
f,ax = plt.subplots(1, 2, figsize = (10, 5))

titanic['survived'][titanic['sex'] == 'male'].value_counts().plot.pie(explode = [0,0.1], autopct = '%1.1f%%', ax = ax[0], shadow = True)
titanic['survived'][titanic['sex'] == 'female'].value_counts().plot.pie(explode = [0,0.1], autopct = '%1.1f%%', ax = ax[1], shadow = True)
ax[0].set_title('Survived (Male)')
ax[1].set_title('Survived (Female)')

plt.show()

#### - 등급별 생존자 수를 차트로 나타내기

In [ ]:
sns.countplot(x='pclass', hue = 'survived', data = titanic)
plt.title('Pclass vs Survived')
plt.show()